// Animation

@keyframes bgMotionAnimation {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100vw);
  }
}

@media only screen and (max-width: 300px) {
  @keyframes bgMotionAnimation {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-330px);
    }
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
