// Animation

@keyframes bgMotionAnimation {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100vw);
  }
}

@keyframes slideUp {
  0% {
    transform: translate(0, 20px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes hideContent {
  0% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }

  100% {
    transform: translate(-50%, -30%);
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
