@use "var" as *;
@use "sass:map";

@mixin fixToScreen {
  position: fixed;
  top: 0;
  left: 0;
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin animationToProfile($len) {
  @for $i from 1 through $len {
    .profiles > li:nth-child(#{$i}n) {
      animation: fadeIn 0.5s ease-out #{2.2 + (0.3 * $i)}s backwards,
        slideUp 0.5s ease-out #{2.2 + (0.3 * $i)}s backwards;
    }
  }
}

// @mixin pc-wide {
//   @media only screen and (min-width: map.get($breakpoints, "pc-wide", "min")) and (max-width: map.get($breakpoints, "pc-wide", "max")) {
//     @content;
//   }
// }

@mixin pc {
  @media only screen and (max-width: map.get($breakpoints, "pc")) {
    @content;
  }
}

@mixin tab {
  @media only screen and (max-width: map.get($breakpoints, "tab")) {
    @content;
  }
}

@mixin mobile {
  @media only screen and (max-width: map.get($breakpoints, "mobile")) {
    @content;
  }
}
